*.pyc
*.jpg
*.JPEG
*.jpeg
*.jpg
*.pdf
*.doc
*/media/*.png
*.swp
*.PDF
*.DOC
*.JPG
*.PNG
.idea
.vagrant
.DS_Store
*.sqlite3
media/*
Makefile
build.zip
build
source
*.iml
datadump.json

#Folders
/migrations/*

# Environments
.env
.venv
env/
venv/
ven/
ENV/
env.bak/
venv.bak/
db.sqlite3
