{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {{data.First_name}}'s Portfolio
 {% endblock %}
{% block body %}
<div class="row">
	<div class="col-md-1">
		<img src="{{data.Photo.thumbnail.url}}" alt="{{data.First_name}}" style="margin-top:10px;margin-left:10px;margin-right: 15px" height="120px" width="100px" >
	</div>
  <div class="col-md-9">
    <div class="panel panel-info">
      <div align="margin-left" class="panel-heading" style="colour:Black">
        <h2 class="text-uppercase">{{data.First_name}} {{data.Middle_name}} {{data.Last_name}}</h2>
      </div>
      <div class="panel-body">
        <p>
          <h4><b>Kalyani Government Engineering College</b></h4>
        </p>
        <div class="row">
          <div class="col-md-6">
            <p>
              <b><a href="mailto:{{ data.Email }}"><span class="glyphicon glyphicon-envelope"></span> {{data.Email}}</a></b>
            </p>
            <p>
              <i style="font-size:24px" class="fa">&#xf08c;</i>
              <a href="{{data.linkedin}}" target="_blank">{{data.linkedin}}</a>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <span class="glyphicon glyphicon-earphone"><b> {{data.phone}}</b></span>
            </p>
            <p>
              <i style="font-size:24px" class="fa">&#xf09b;</i>
              <a href="{{data.github}}" target="_blank">{{data.github}}</a>
            </p>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
{% endblock %}
