{% extends "portfolio/base.html" %}
{% load staticfiles %}

{% block title %}
    My Resume
 {% endblock %}
{% block body %}
<div class="row">
	<div class="col-md-1">
		<img src="{% static "portfolio/images/kgec_logo.png" %}" alt="kgec_logo image" style="margin-top:5px;margin-left:5px;margin-right: 15px" height="100px" width="100px" />
	</div>
</div>
<div class="col-md-10">
	<div class="panel panel-info">
		<div align="margin-left" class="panel-heading" style="colour:Black">
			<h1 class="text-uppercase">Sarbesh Kumar sarkar</h1>
		</div>
		<div class="panel-body">
			<p><h4><b>Kalyani Government Engineering College</b></h4></p>
			<p>
				<b>
					<a href="#">
						<span class="glyphicon glyphicon-envelope"></span>
					</a>
				</b>sarbesh.sarkar@kgec.edu.in &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<b>
					<span class="glyphicon glyphicon-earphone"></span>
				</b>+91-9494434581
			</p>
			<p>
				<i style="font-size:24px" class="fa">&#xf08c;</i>
				<a href="https://linkedin.com/in/sarbesh-sarkar/" target="_blank">linkedin.com/in/sarbesh-sarkar/</a> &nbsp; &nbsp; &nbsp; &nbsp;
				<i style="font-size:24px" class="fa">&#xf09b;</i>
				<a href="https://github.com/sarbesh" target="_blank">github.com/sarbesh</a>
			</p>
			<hr>
			<!--<div class="btn-group-vertical">-->
				<button class="btn btn-info btn-block" data-toggle="collapse" data-target="#academy"><h4>Academic Qualifications</h4></button>
				<div id="academy" class="collapse in" >
					<table class="table">
						<thead>
							<tr>
								<th>Degree</th>
								<th>Course</th>
								<th>Disclipine</th>
								<th>Institution</th>
								<th>Board/University</th>
								<th>Year of Passing</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Bachelor Degree</td>
								<td>B.Tech in Electrical Engineering</td>
								<td>Engineering</td>
								<td>Kalyani Government Engineering College</td>
								<td>Maulana Abdul kalam Azad University of Technology</td>
								<td>2019</td>
								<td>6.89/10</td>
							</tr>
							<tr>
								<td>12th</td>
								<td>Higher Secondary</td>
								<td>Science</td>
								<td>Narayana Junior College</td>
								<td>Board of Intermideate Education:A.P</td>
								<td>2015</td>
								<td>971/1000</td>
							</tr>
							<tr>
								<td>10th</td>
								<td>SSC</td>
								<td>General</td>
								<td>Keshava Reddy Educational Institute</td>
								<td>Board of Secondary Education:A.P</td>
								<td>2013</td>
								<td>9.0 GPA</td>
							</tr>
						</tbody>
					</table>
				</div>
				<hr>
				<button class="btn btn-info btn-block" data-toggle="collapse" data-target="#project"><h4>Projects/Training</h4></button>
				<div id="project" class="collapse in">
					<table class="table">
						<thead>
							<tr>
								<td><b>Institution/Organization</b></td>
								<td><b>Course Title</b></td>
								<td><b>Durations</b></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Ardent</td>
								<td>Training on C and JAVA</td>
								<td>6 Weeks</td>
							</tr>
							<tr>
								<td>Robosapiens Technology PVT LTD</td>
								<td>Basic Arduino Workshop</td>
								<td>4 Days</td>
							</tr>
							<tr>
								<td>Indian Railways, Eastern Division</td>
								<td>Vocational Industrial Training at traction department</td>
								<td>2 Weeks</td>
							</tr>
						</tbody>
					</table>
				</div>
				<hr>
				<button class="btn btn-info btn-block" data-toggle="collapse" data-target="#certificates" ><h4>Certifications/Achievements/Internships</h4></button>
				<div id="certificates" class="collapse in">
					<div class="list-group">
						<a href="#" class="list-group-item">Appointed as the <b>Network Administrator</b> of Rishi Bankim Chandra Hall, Kalyani Government Engineering College for the session 2017-2019.</a>
						<a href="#" class="list-group-item">Assist the Professor in charge of Network Administration of Kalyani Government Engineering College in maintaining and debugging college network and systems.</a>
						<a href="#" class="list-group-item"><b>Official Member</b> of <b>KGEC Entrepreneurship Cell</b> 2017-19.</a>
						<a href="#" class="list-group-item"><b>Content Writing Internship</b> on Ethical Hacking, at Hackeroyale.com</a>
						<a href="http://cyberindia.org.in/research/index.php" target="_blank" class="list-group-item"><b>Security Researcher</b> at Cyber Security Knowledge Sharing and Research Council</a>
						<a href="#" class="list-group-item">Appointed as the <b>Event Coordinator</b>for capture the flag event at Techtix, Espektro'18.</a>
						<a href="#" class="list-group-item">Attended <b>Hackmania</b> workshop organized by National Institue for Industrial Training</a>
						<a href="#cisco" data-toggle="collapse" class="list-group-item">Completed many cources from <b>Cisco netacad.com</b></a>
						<table class="">

						</table>
					</div>
				</div>
				<hr>
				<button class="btn btn-info btn-block" data-toggle="collapse" data-target="#certificates" ><h4>Subjects of Intrest</h4></button>
				<hr>
				<button class="btn btn-info btn-block" data-toggle="collapse" data-target="#certificates" ><h4>Computer Proficiency</h4></button>
				<hr>
				<button class="btn btn-info btn-block" data-toggle="collapse" data-target="#certificates" ><h4>Hobbies/Intrests</h4></button>
				<hr>
				<button class="btn btn-info btn-block" data-toggle="collapse" data-target="#certificates" ><h4>Personal Details</h4></button>
				<!--</div>-->
			</div>
		</div>
 {% endblock %}