{% extends "blog/base.html"  %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
<h3>{{post.title}}</h3>
<hr>
<p class="date" >
    published {{post.publish}} by {{post.author}}
</p>
{{ post.body|linebreaks }}
<p>
    <a href="{% url "blog:post_share" post.id %}">
    Share this post
    </a>
</p>
{% with comments.count as total_comments%}
	<h5>
		{{total_comments}} comment{{total_comments|pluralize}}
	</h5>
	<hr >
{% endwith %}
{% for comment in comments %}
	<div class="comment">
		<p class="info">
			Comment {{ forloop.counter }} by {{ comment.name }}
			{{ comment.created }}
		</p>
		{{ comment.body|linebreaks }}
	</div>
{% empty %}
	<p>There are no Comments</p>
{% endfor %}
{% if new_comment %}
	<h4>Your comment has been added.</h4>
	{% else %}
	<p>Add a new comment</p>
	<form action="." method="post">
		{{ comment_form.as_p }}
		{% csrf_token %}
		<p><input type="submit" value="Add comment"></p>
	</form>
{% endif %}
{% endblock %}